.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%,0.2);
}

.Button-round{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    cursor: pointer;
}

.Button-crud {
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.btnText{
    font-size:2.3em;
    opacity: 0.5;
}