.card-container {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height:50vh;
}

.card-content {
    width: 70vw;
    height: 20vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%,0.2);
    display:flex;
    

}


.button-container {
    width: 60vw;
    display:flex;
    justify-content:space-between;
}