.ListItem-container{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    font-size:1.5em;
    margin: 2px 0;
}

.crud-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 20px;
    color:white;
    font-size:0.6em;
    cursor:pointer;
}

.crud-title{
    width: 80px;
    text-align: left;
}

.crud-edit{
    background-color:blue;
}

.crud-delete{
    background-color:red;
}

.crud-btn-container{
    display:flex;
    width: 150px;
    justify-content: space-evenly;
}

