.wordsettings-container {
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
}

.wordsettings-list {
    background-color:gray;
    border-radius:50px;
    min-height: 20vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    padding:10px;
}

.current-words {
    display:flex;
    flex-direction:column;
    background-color:white;
    width: 350px;
    border-radius:25px;
    padding-bottom: 20px;
    margin: 10px 0;
}

.wordsettings-create-word {
    background-color:white;
    width:350px;
    margin-top:10px;
    border-radius: 25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-bottom:20px;
}

.wordsettings-add-input-group{
    display:flex;
}

.wordsettings-addWord-btn{
    width:25px;
    border-radius:5px;
    background-color:green;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:10px;
}

.wordsettings-close-btn {
    width: 100px;
    height: 40px;
    background-color: black;
    margin: 20px 0;
    border-radius:10px;
    cursor: pointer;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wordsettings-close-btn-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.wordsettings-list-row{
    display:flex;
    align-items:center;
}