h1 {
  margin:0
}
body {
  background-color: #F0F3F7;
}
.App {
  text-align: center;
  background-color: #F0F3F7;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #09ccea ;
  height: 130px;
  padding: 20px;
  color: white;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
